<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Order Summary</title>
</head>
<body>
    <h1>Order Summary</h1>
    {% for order in orders%}
    <section>
        <p>
            {{order.customer_name}}: {{order.order_date}}, {{order.quantity}} x {{order.item}} <a href="/orders/{{orders.index(order)}}">See order detail</a>
        </p>
    </section>
    {% endfor%}
</body>
</html>